codepkg/flows/Create_tasks.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <assignments>
        <name>AddNewTaskToList</name>
        <label>AddNewTaskToList</label>
        <locationX>300</locationX>
        <locationY>381</locationY>
        <assignmentItems>
            <assignToReference>ListTasks</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>newTask</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>LoopByCases</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>UpdateTaskFields</name>
        <label>UpdateTaskFields</label>
        <locationX>295</locationX>
        <locationY>256</locationY>
        <assignmentItems>
            <assignToReference>newTask.CustomDateTime__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>currentCase.CreatedDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newTask.WhoId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ContactId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newTask.Subject</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Call</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newTask.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Not Started</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newTask.Priority</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Normal</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>AddNewTaskToList</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>CheckEmpty</name>
        <label>CheckEmpty</label>
        <locationX>48</locationX>
        <locationY>20</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>CheckEmptyy</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ContactId</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>GetCases</targetReference>
            </connector>
            <label>CheckEmptyy</label>
        </rules>
    </decisions>
    <interviewLabel>Create tasks {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Create tasks1</label>
    <loops>
        <name>LoopByCases</name>
        <label>LoopByCases</label>
        <locationX>52</locationX>
        <locationY>250</locationY>
        <assignNextValueToReference>currentCase</assignNextValueToReference>
        <collectionReference>ListCases</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>UpdateTaskFields</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>InsertTasks</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>InsertTasks</name>
        <label>InsertTasks</label>
        <locationX>54</locationX>
        <locationY>393</locationY>
        <inputReference>ListTasks</inputReference>
    </recordCreates>
    <recordLookups>
        <name>GetCases</name>
        <label>GetCases</label>
        <locationX>52</locationX>
        <locationY>141</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>LoopByCases</targetReference>
        </connector>
        <filters>
            <field>ContactId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ContactId</elementReference>
            </value>
        </filters>
        <object>Case</object>
        <outputReference>ListCases</outputReference>
        <queriedFields>CreatedDate</queriedFields>
    </recordLookups>
    <startElementReference>GetCases</startElementReference>
    <status>Draft</status>
    <variables>
        <name>ContactId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>currentCase</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Case</objectType>
    </variables>
    <variables>
        <name>ListCases</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Case</objectType>
    </variables>
    <variables>
        <name>ListTasks</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Task</objectType>
    </variables>
    <variables>
        <name>newTask</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Task</objectType>
    </variables>
</Flow>
